@import url('https://rsms.me/inter/inter.css');

.timer {
    color: black;
    font-size: 72px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    letter-spacing: -0.01em;
    font-weight: 600;
}
