@import url('https://rsms.me/inter/inter.css');

.timer {
    color: black;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.1em;
    font-weight: 600;
    transform: translate(330px, 30px);
}

p {
    font-size: 24px;
    transform: translate(4px);
}

.hms {
    font-size: 48px;
    margin-top: -40px;
}

div {
    margin-bottom: -20px;
    margin-top: -30px;
    margin-left: -30px;
    padding: -22px;
    border: none;
    outline: none;
}
